$primaryColor: #4a4a4a; // Neutral dark gray for primary color
$secondaryColor: #bfc5d2; // Soft, light gray-blue for accents
$fontColor: #2e2e2e; // Darker gray for better readability
$backgroundColor: #f7f7f7; // Light neutral background
$accentColor: #888888; // A medium gray for subtle highlights


$defaultFont: "Questrial", serif;
$lightWeight: 300;
$normalWeight: 500;
$boldWeight: 700;

$gutter: 16px;
